#banner{
    width: 100%;
    height: 80vh;
    background-color: #EBEBEB;
    border-bottom: 2px solid #7F7F7F;
    padding: 5% 10%;
    box-sizing: border-box;

    p{
        font-weight: bold;
        font-size: 1.6em;
    }

    h1{
        font-size: 3.5em;
        width: 70%;
        margin: 10px 0 20px;
    }
}

@media (max-width:768px) {
    #banner{
        height: 70vh;
        padding: 20% 10%;

        p{
            font-size: 1.3em;
        }

        h1{
            font-size: 1.5em;
            width: 100%;
        }
    }
}